<% if current_user && current_user.admin? %>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>
<div class="center">
  <div class="row">
    <% listings.each do |listing| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          
          <div class="caption">
            <h4><%= listing.name %></h4>
            <p><%= number_to_currency(listing.price, :unit => "€") %></p><br>
            <%= link_to 'Show', listing, class: "btn btn-primary" %>
            <% if current_user && current_user.admin? %>
              <%= link_to 'Edit', edit_listing_path(listing) %>
              <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div> 
  
</div>
