
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag @listing.image.url(:medium) %>
    </div>
  </div>
  <div class="col-md-8">
      <h3><%= link_to @listing.category.name, @listing.category %></h3>
      <h3><%= @listing.name %></h3><hr>
      <p><%= @listing.description %></p><hr>
      <p><%= number_to_currency(@listing.price, :unit => "€") %></p>
  </div><br>
  
</div>
<div class="col-md-4"></div>
<div class="col-md-8">

<%= link_to "Add to cart", add_cart_path, method: :post, class: "btn btn-primary" %> 
<%= link_to 'Back to products', listings_path, class: "btn btn-default" %>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit product', edit_listing_path(@listing), class: "btn btn-default" %> 
<% end %>
</div>
