<h2>Checkout</h2>
<div class="center">
    <% if user_signed_in? %>
        <h3>Hi, <%=  current_user.email  %></h3>
    <% end  %>
        <h3>You are checking out following products</h3>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <table class="table table-condensed">
            <tr>
                <th>Quantity</th>
                <th>Product name</th>
                <th>Total price</th>
            </tr>
            <ul>
                <% @cart.items.each do |item| %>
                    <tr>
                        
                        <td><%= item.quantity %></td>
                        <td><%= link_to item.listing.name, item.listing %></td>
                        <td class="text-right"><%= number_to_currency(item.total_price, :unit => "€") %></td>
                    </tr>
                <% end %>
            </ul>
            <tfoot>
                <td></td>
                <td class="text-right"><strong>  Total price for items: </strong></td>
                <td><%= number_to_currency(@cart.total_price, :unit => "€") %></td>
            </tfoot>
        </table>
    </div>
        <div class="col-md-8">
            <%= form_for @order_form, url: orders_path do |f| %>
                <%= fields_for :user, @order_form.user do |u|  %>
                    <p><%= u.text_field :name, placeholder: "Your Name", class: "form-control input-lg" %></p>
                    <p><%= u.text_field :email, placeholder: "Your Email Address", class: "form-control input-lg" %></p>
                    <div class="row">
                        <p class="col-md-12"><%= u.text_field :address, placeholder: "Your Address", class: "form-control input-lg" %></p>
                        <p class="col-md-8"><%= u.text_field :city, placeholder: "Your City", class: "form-control input-lg" %></p>
                        <p class="col-md-4"><%= u.text_field :name, placeholder: "Your Postal Code", class: "form-control input-lg" %></p>
                        <p class="col-md-12"><%= u.country_select :country, {priority_countries: ["ie", "gb", "pl"]}, {class: "form-control"} %></p>
                        <p class="col-md-12"><%= u.text_field :phone, placeholder: "Your Phone Number", class: "form-control input-lg" %></p>
                    </div>
                <% end %>
                <p><%= f.submit "Place Your Order", class: "btn btn-primary" %></p>
            <% end %>
            
        
        
        
        </div>
</div>
