<table class="table table-hover table-bordered table-striped">
 
    <tr>
        <th>Image</th>
        <th>Quantity</th>
        <th>Product name</th>
        <th>Total price</th>
        <th>Remove product</th>
    </tr>
    <% @cart.items.each do |item| %>
          <tr>
            <td class="thumbnail"><%= image_tag item.listing.image.url(:thumb) %></td> 
            <td><%= item.quantity %></td>
            <td><%= link_to item.listing.name, item.listing %></td>
            <td class="text-right"><%= number_to_currency(item.total_price, :unit => "€") %></td>
            <td><%= link_to "remove item", remove_cart_path(item.listing_id), :method => :delete, :confirm => "Are you sure?",:remote => true %></td>
         </tr>    
        
    <% end %>
    
</table>
<tfoot>
    <tr>
        <td class="text-right">
            <strong>  Total price for items:</strong><%= number_to_currency(@cart.total_price, :unit => "€") %>
        </td>
    </tr>
 </tfoot>  
    
