<!DOCTYPE html>
<html>
<head>
  <title>Artvballecommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
  <!-- This stylesheet contains specific styles for displaying the map
         on this page. Replace it with your own styles as described in the
         documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial -->
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
</head>
<body>
  
    <%= render 'layouts/nav' %>
    
    <div class="container">
      
      <% flash.each do |name, msg|  %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
            <button type="buton" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
        <!--<p><%= content_tag :div, notice, class: "bg-success" %></p>-->
        <!--<p><%= content_tag :div, alert, class: "bg-danger" %>-->
      <%= yield %>
    
     
   </div>
   
   <%= render 'layouts/footer' %>
</body>
</html>
